.title {
    font-size: 30px;
    text-align: center;
}

table {
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    line-height: 1.4em;
    text-align: left;
    word-wrap: break-word;
    word-break: break-word;
    box-sizing: inherit;
    border-spacing: 0;
    table-layout: auto;
    color: #222;
    border-collapse: collapse;
}

thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}


table td {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #c8c8c8;
}

th {
    margin: 20px 0;
    padding: 10px;
    text-align: center;
    line-height: 1.4em;
    background: #EEEEEE;
    border: 1px solid #c8c8c8;
}

.wrapper {
    height: 100%;
    margin-bottom: 40px;
}
